# Dependencies
node_modules/

# Production build outputs
dist/

# Local Environment variables
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS / Editor
.DS_Store
.vscode/
.idea/
.firebase/
