rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /family/{docId} {
      allow read, write: if true;
    }
    match /blueprints/{blueprintId} {
      allow read, write: if true;
    }
    match /settings/{settingId} {
      allow read, write: if true;
    }
  }
}
